body{
	text-align:center;
}
header, section, footer, aside, nav, article, hgroup{
	display:block;
}
#skin{
	width:700px;
	margin:10px auto;
	padding:5px;
	background:gray;
	border:4px solid black;
	border-radius:10px;
}
nav{
	margin:5px 0px;
	
}
#Buttons{
	float:left;
	width:70px;
	height:22px;
}
#defaultBar{
	position:relative;
	float:left;
	width:600px;
	height:15px;
	padding:4px;
	border:2px solid black;
	background:#00BFFF;
}
#progressBar{
	position:absolute;
	width:0px;
	height:15px;
	background:white;
}