body{
	text-align:center;
}
#button{
	display:black;
	width:500px;
	margin:50px auto;
	padding:15px;
	text-align:center;
	border:7px solid blue;
	background:green;
	-webkit-transition:-webkit-transform 2s;
	/*outline:7px solid red;
	-webkit-transform:translate(100px,100px) rotate(30deg) scale(.9);
	-webkit-transform:translate(150px,300px);
	-webkit-transform:skew(30deg);
	-webkit-transform:rotate(-15deg);
	-webkit-transform:scale(-1,1);
	-webkit-border-radius:15px;
	-webkit-box-shadow:rgb(90,90,90) 4px 4px 4px;
}
#text{
	font: blod 30px Century Gothic;
	text-shadow:rgb(90,90,90) 3px 3px 5px;
}*/
}
#button:hover{
	-webkit-transform:rotate(45deg);
}






